body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #0074D9;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    margin: 5px 0;
}

section {
    margin: 20px;
}

a {
    color: #0074D9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style for the "Show More" button */
button {
    background-color: #0074D9;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
